.base {
    flex-direction: column; 
    justify-content: center;
    text-align: center; 
    margin-top: 75px; 
    width: 500px;
}

.text1 {
   font-size: 100px;
}
.text2 {
    font-size: x-small;
}

.button {
   
}